

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo justify-content-center">
        <a href="#" class="app-brand-link" style="font-size: 20px;">ADMİN</a>
    </div>
    <ul class="menu-inner py-1">
        <li class="menu-item">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="menu-link" target="_blank">
                <i class="fa-solid fa-chevron-left"></i>
                <div class="mx-3">Siteye Dön</div>
            </a>
        </li>
        <li class="menu-item @ViewBag.dashboardActive">
            <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="menu-link">
                <i class="fa-solid fa-house"></i>
                <div class="mx-3">Dashboard</div>
            </a>
        </li>
        <li class="menu-item @ViewBag.destinationActive">
            <a asp-area="Admin" asp-controller="Destination" asp-action="DestinationList" class="menu-link">
                <i class="fa-solid fa-globe"></i>
                <div class="mx-3">Turlar</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Admin" asp-controller="" asp-action="" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="mx-3">Cards</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="" asp-controller="User" asp-action="UserLogout" class="menu-link">
                <i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal"></i>
                <div class="mx-3">Çıkış Yap</div>
            </a>
        </li>
    </ul>
</aside>