@model AnnouncementUpdateDTO
@{
    ViewData["Title"] = "AnnouncementUpdate";
    Layout = "_LayoutAdmin";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Duyuru Düzenle</h6>
                    <hr>
                </div>
                <div class="card-body pt-0 p-4">
                    <form asp-area="Admin" asp-controller="Announcement" asp-action="AnnouncementUpdate" method="post">
                        <input type="hidden" asp-for="AnnouncementId">
                        <input type="hidden" asp-for="AnnouncementDate">
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="AnnouncementTitle"></span>
                            <label for="AnnouncementTitle">Başlık</label>
                            <input type="text" asp-for="AnnouncementTitle" id="AnnouncementTitle" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="AnnouncementContent"></span>
                            <label for="AnnouncementContent">Mesaj</label>
                            <input type="text" asp-for="AnnouncementContent" id="AnnouncementContent" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-4">Kaydet</button>
                        <a asp-area="Admin" asp-controller="Announcement" asp-action="AnnouncementList" class="btn btn-outline-dark mx-2 mt-4">Geri</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>