@model AccountUOfWorkModel
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>AccountUOfWork Uygulaması - Bakiye Gönderme</h6>
                    <hr>
                </div>
                <div class="card-body pt-0 p-4">
                    <form asp-area="Admin" asp-controller="AccountUOfWork" asp-action="Index" method="post">
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="SenderId"></span>
                            <label for="SenderId">Gönderici Id</label>
                            <input type="text" asp-for="SenderId" id="SenderId" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="ReceiverId"></span>
                            <label for="ReceiverId">Alıcı Id</label>
                            <input type="text" asp-for="ReceiverId" id="ReceiverId" class="form-control">
                        </div>
                        <div class="form-group">
                            <span class="validation-text" asp-validation-for="Amount"></span>
                            <label for="Amount">Gönderilen Tutar</label>
                            <input type="text" asp-for="Amount" id="Amount" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-4">Gönder</button>
                        <a asp-area="Admin" asp-controller="AccountUOfWork" asp-action="Index" class="btn btn-outline-dark mx-2 mt-4">Geri</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>