
<footer>
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="row">
                            <div class="col-md-4 column">
                                <h3>Şirketimiz</h3>
                                <ul class="footer-gd-16">
                                    <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                                    <li><a asp-controller="About" asp-action="Index">Hakkımızda</a></li>
                                    <li><a asp-controller="Services" asp-action="Index">Hizmetlerimiz</a></li>
                                    <li><a asp-controller="Destination" asp-action="Index">Rotalar</a></li>
                                    <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Faydalı Linkler</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="#">Havayolları</a></li>
                                    <li><a href="#">Hastaneler</a></li>
                                    <li><a href="#">Döviz Ofisler</a></li>
                                    <li><a href="#">Turizm Bürosu</a></li>
                                    <li><a href="#">Bize Yazın</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Hizmetlerimiz</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="#">Servisler</a></li>
                                    <li><a href="#">Ring Seferler</a></li>
                                    <li><a href="#">Rehberlerimiz</a></li>
                                    <li><a href="#">Türkiye Ofisi</a></li>
                                    <li><a href="#">Ukrayna Ofisi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                        <h3>Bülten </h3>
                        <div class="end-column">
                            <h4>Son gelişmelerden ve kampanyalarda haberdar olun</h4>
                            <form class="subscribe">
                                <input type="email" id="NewsletterMail" placeholder="Email" required="">
                                <button id="newNewsletter" type="button">Go</button>
                            </form>
                            <p>Spam mail gönderilmez.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left text-center">
                        <p>OĞUZHAN TURAN</p>
                    </div>
                    <div class="columns-2 mt-lg-0 mt-3">
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>

        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

                // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>

    </section>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
        $("#newNewsletter").click(function () {
            let value = {
                NewsletterMail: $("#NewsletterMail").val()
            };
            
            $.ajax({
                type: "post",
                url: "/Contact/NewNewsletter/",
                data: value,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    $("#NewsletterMail").val("");
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        html: "Bülten kaydınız alındı.",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        });
</script>