@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="\lib\signalr.min.js"></script>

    <script type="text/javascript">
    
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7032/VisitorHub").build();

            $("#connectionStatus").text(connection.state);

            console.log("Buraya kadar geldi : " + connection.state);

            connection.Start().then(() => {
                @* $("#connectionStatus").text(connection.state); *@
            }).catch((err) => { console.log(err) });
        })

    </script>
}

<div class="container">
    
    <div class="alert alert-warning">
        Bağlantınızın Durumu : <b id="connectionStatus"></b>
    </div>

    <a class="btn btn-primary" asp-controller="Home" asp-action="IndexSql">Sql Sayfasına Git</a>

</div>
