@model RePasswordModel
@{
    ViewData["Title"] = "UserRePassword";
    Layout = "_LayoutFormUser";
}

<form class="form-detail" asp-controller="User" asp-action="UserRePassword" method="post">
    <a asp-controller="Home" asp-action="Index" class="form-home-icon"><span class="fa-solid fa-house"></span></a>
    <h2>Şifremi Unuttum Formu</h2>
    <div class="validation-summary-text" asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <span class="validation-text" asp-validation-for="Email"></span>
        <label>Email *</label>
        <input type="email" asp-for="Email" class="input-text" required>
        <i class="fas fa-envelope"></i>
    </div>
    <div class="form-row-last">
        <input type="submit" name="register" class="register" value="Gönder">
    </div>
    <a asp-controller="User" asp-action="UserLogin" style="font-size: 12px; padding: 0px; border: none;">Giriş Yap'a geri dön</a>
</form>